keyring==18.0.1
cryptography==2.6.1
Telethon==1.10.10
aiohttp==3.6.2
brotli==1.0.7
Cython==0.29.14
google_api_python_client==1.7.11
importlib_metadata==1.4.0
ipaddr==2.2.0
lockfile==0.12.2
lxml==4.4.2
mypy_extensions==0.4.3
numpy==1.18.1
ordereddict==1.1
Pillow==7.0.0
protobuf==3.11.2
PyBinglate==0.2.61
pyenchant==2.0.0
wikipedia==1.4.0
youtube_dl==2020.1.24